@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#0a0f1d] text-slate-50 font-sans transition-colors duration-300;
    background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
    background-size: 20px 20px;
  }

  /* Dark Mode Base Styles */
  html.dark body {
    @apply bg-[#050505] text-white;
    /* Pure premium black */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-bold;
  }

  html.dark h1,
  html.dark h2,
  html.dark h3,
  html.dark h4,
  html.dark h5,
  html.dark h6 {
    @apply text-white;
  }

  /* Global Dark Mode Scrollbar */
  html.dark ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  html.dark ::-webkit-scrollbar-track {
    background: #050505;
  }

  html.dark ::-webkit-scrollbar-thumb {
    background: #10b981;
    border-radius: 20px;
    border: 3px solid #050505;
  }

  html.dark ::-webkit-scrollbar-thumb:hover {
    background: #059669;
  }

  /* Bluish Theme Base Styles */
  html.bluish body {
    @apply bg-[#0a0f1d] text-slate-50;
  }

  html.bluish h1,
  html.bluish h2,
  html.bluish h3,
  html.bluish h4,
  html.bluish h5,
  html.bluish h6 {
    @apply text-white;
  }

  html.bluish ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  html.bluish ::-webkit-scrollbar-track {
    background: #0f172a;
  }

  html.bluish ::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 20px;
    border: 3px solid #0f172a;
  }
}