@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-gutter: stable;
  }

  body {
    @apply bg-white text-gray-900 font-sans transition-colors duration-300;
  }

  /* Dark Mode Base Styles */
  html.dark body {
    @apply bg-[#050505] text-white;
    /* Pure premium black */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-bold;
  }

  html.dark h1,
  html.dark h2,
  html.dark h3,
  html.dark h4,
  html.dark h5,
  html.dark h6 {
    @apply text-white;
  }
}